.info-box{
	box-shadow: 0px 0px 6px #00000038;
}
.cat-box{
	box-shadow: 0px 0px 6px #00000038;
	border-radius: 10px;
	height: 160px;
}
.cat-title{
	color: #D8001C;
	border-bottom: 1px solid #00000038;
	padding-bottom: 20px;
}
.cat-name{
	color: #908585;
}